
/* ESTILO GERAL */
*{
    margin: 0; /*margem*/
    padding: 0; /*distancia entre elemento e a borda*/
    box-sizing: border-box; /* pra quem todos os elementos fiquem dentro da borda da caixa*/
    /* google fonts*/
    font-family: "Lato", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px; /*largura maxima*/
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px; /* efeito curvado */
    cursor: pointer; /* faz virar dedinho quando passa o curso sobre*/
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 23px 0px hsla(276, 87%, 63%, 0.408);
    transform: scale(1.05);
}

/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;  /*o 4% n permite que ele cole nas bordas quando mudar o tamanho da página*/ 
}

/* sinal de maior faz com que altere diretamente a interface dentro do header*/
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(136, 135, 135);
    text-decoration: none; /*tira a linha embaixo da escrita*/
    display: inline-block;
    transition: .1.8s;
}

header a:hover{ /*quando o usuário passa o mouse por cima*/
    color: #fff;
    transform: scale(1.05); /*da um zoom, so funciona para elementos block level, já o link é in line leve*/
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 0px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    gap: 150px;
}

.topo-do-site .txt-topo {
    justify-content: left;
}

.topo-do-site h1{
    color: white;
    font-size: 35px;
    line-height: 40px;
}

.topo-do-site .txt-topo h1 span{
    color: darkviolet;
}

.topo-do-site .txt-topo p{
    color: white;
    margin: 30px 0px; /*vertical e lateral*/
    font-size: 20px;
}

.topo-do-site .img-topo img{
    position: relative; /* necessario para aplicar a flutuação*/
    animation: flutuar 2s ease-in-out infinite alternate; /*<nome_animação> tempo modo-de-começo-final-suave duração-total faz-com-que-ao-chegar-no-final-espelha-se-o-movimento*/
}

@keyframes flutuar {
    
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: darkviolet;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: darkviolet;
    font-size: 23px;
    margin: 0 5px;
}