
/* ESTILO GERAL */
*{
    margin: 0; /*margem*/
    padding: 0; /*distancia entre elemento e a borda*/
    box-sizing: border-box; /* pra quem todos os elementos fiquem dentro da borda da caixa*/
    /* google fonts*/
    font-family: "Lato", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px; /*largura maxima*/
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px; /* efeito curvado */
    cursor: pointer; /* faz virar dedinho quando passa o curso sobre*/
    transition: .2s;
}

button:hover, form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 23px 0px hsla(276, 87%, 63%, 0.408);
    transform: scale(1.05);
}

h2.titulo{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

h2.titulo span{
    color: blueviolet;
}

/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;  /*o 4% n permite que ele cole nas bordas quando mudar o tamanho da página*/ 
}

/* sinal de maior faz com que altere diretamente a interface dentro do header*/
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(136, 135, 135);
    text-decoration: none; /*tira a linha embaixo da escrita*/
    display: inline-block;
    transition: .1.8s;
}

header a:hover{ /*quando o usuário passa o mouse por cima*/
    color: #fff;
    transform: scale(1.05); /*da um zoom, so funciona para elementos block level, já o link é in line leve*/
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 0px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    gap: 365px;
}

.topo-do-site .txt-topo {
    justify-content: left;
}

.topo-do-site h1{
    color: white;
    font-size: 35px;
    line-height: 40px;
}

.topo-do-site .txt-topo h1 span{
    color: darkviolet;
}

.topo-do-site .txt-topo p{
    color: white;
    margin: 30px 0px; /*vertical e lateral*/
    font-size: 20px;
}

.topo-do-site .img-topo img{
    position: relative; /* necessario para aplicar a flutuação*/
    animation: flutuar 2s ease-in-out infinite alternate; /*<nome_animação> tempo modo-de-começo-final-suave duração-total faz-com-que-ao-chegar-no-final-espelha-se-o-movimento*/
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: darkviolet;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.txt-sobre .btn-social {
    align-items: center;
    display: inline-block;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 23px;
    margin: 0 5px;
    background-color: blueviolet;
}

#btn-contato-sobre button{
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    border: none;
    background-color: rgb(182, 52, 207);
}

/*ESTILO PORTIFOLIO*/
section.portifólio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff21;
}



section.portifólio .flex{
    justify-content: space-around; /*ele fica centralizado, adaptado e espaçado entre eles*/
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: greenyellow;
    background-size: cover;
    background-position: 100% 0;
    border-radius: 40px;
    position: relative; /*para o efeito overlay funcionar*/
}

.img-port:hover{
    background-position: 100% 100%;
    transition: 3s;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 29, 3, 0.463);
    border-radius: 40px;
    display: flex;
    align-items: center; /*align e justify são para alinhar o texto no meio da imagem*/
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
}

.overlay:hover{
    opacity: 1;
    transition: .2s;
}

/*ESTILO FORMULARIO*/
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(53, 52, 52, 0.774);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none; /*proíbe a modelagem de tamanho do textarea*/
    height: 200px;
    max-height: 400px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: blueviolet;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

/*ESTILO RODAPÉ*/
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff21; 
}

footer .flex{
    display: flex;
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid blueviolet;
}

footer .line-footer p i{
    color: blueviolet;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;

}